header, section, footer, aside, nav, article {
	display: block;
}

body {
	color: green;
	background-image: url("../images/bark.jpg");
	background-repeat: repeat;
	background-position: center;
	font-family: sans-serif;
	line-height: 1.4em;
	margin: 0px;
}

.wrapper {
	width: 970px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #D0F2D0;	
}


#header {
	background-image: url("../images/leaves.jpg");
	background-repeat: repeat;
	height: 160px;
	width: 100%;
	background-color: green;
	margin: 5px;
	padding: 15px;
}

img.panda {
	height: 150px;
	width: 140px;
	padding: 20px
	}
#headformat {
	font-weight: bolder;
	font-size: 30px;
	margin-top: -5px;
	color: #D0F2D0;
}

h1 {
	text-indent: -9999px;
	width: 970px;
	height: 130px;
	margin: 0px;
	padding: 5px;
	text-transform: capitalize;
	text-align: center;

}

nav, footer {
	clear: both;
	color: #D0F2D0;
	background-color: black;
	height: 30px;
}

nav {
	padding-top: 0px;

}

nav ul {
	margin: 0px;
	padding: 10px 0px 5px 30px;
}

nav li {
	display: inline;
	margin-right: 40px;
	margin-left: 100px;
	padding: 60px;
	font-weight: bold;
	font-size: 20px;

}

nav li a {
	color: #D0F2D0;
	text-decoration: none;
	margin-bottom: 5px;
}

section.homepageinfo {
	float: left;
	width: 700px;
	border-right: 1px solid green;
	text-decoration: none;
}

article {
	clear: both;
	overflow: auto;
	width: 100%;
}

section.zoolist {
	width: 230px;
	float: left;
	text-decoration: none;
	margin-top: 20px;
	line-height: 30px;

}

p {
	padding: 10px;
}

img.intext {
	padding: 5px;
}
h2 {
	color: black;
	text-align: center;
	margin: 10px 0px 5px 0px;
	padding: 5px;
}
figure {
	padding: 5px;
	margin: 5px;
}

img.zoopics {
	height: 200px;
	width: 190px;
	padding: 0px;
	margin-left: 40px;
}

section.blog {
	border: green 2px;
	padding:30px;
}

form {
	background-color: #D0F2D0;
	color: black;
	padding: 5px;
	margin: 10px;
}

figcaption {
	color: green;
	font-weight: lighter;
	font-size: 15px;
	margin: 0px;
	text-align: center;
}

footer {
	padding: 10px;
	text-align: center;
}


